<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utwórz Zadanie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tasks_style_light.css}" id="theme-stylesheet">
</head>
<body>
<div class="sidebar">
    <nav>
        <a th:href="@{/tasks/}"><img src="/png/logo-2-white.png" alt="Logo" style="height: 180px;"/></a>
        <ul>
            <li>
                <a th:href="@{/tasks/}">Zadania</a>
            </li>
            <!-- Warunek, który ukrywa zakładkę "Użytkownicy" dla użytkowników z rolą "User" -->
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/users}">Użytkownicy</a>
            </li>
            <li>
                <a th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <div class="theme-button"><button id="theme-button" class="add-button" onclick="toggleCSS()">Ciemny motyw</button>
    </div>
    <div class="task-panel">
        <h2>Utwórz Nowe Zadanie</h2>
        <form th:object="${task}" method="POST" th:action="@{/tasks/}">
            <div class="task-field">
                <label for="taskName">Nazwa</label>
                <input class="task-input" type="text" id="taskName" th:field="*{taskName}" placeholder="Enter Task Name" required>
            </div>
            <div class="task-field">
                <label for="taskDescription">Opis</label>
                <textarea class="task-input" id="taskDescription" th:field="*{taskDescription}" placeholder="Enter Task Description"></textarea>
            </div>
            <div class="task-field">
                <label for="dueDate">Data Zakończenia</label>
                <input class="task-input" type="date" id="dueDate" th:field="*{dueDate}">
            </div>
            <div class="task-field">
                <label for="createdDate">Data Ukończenia</label>
                <input class="task-input" type="date" id="createdDate" th:field="*{createdDate}" readonly>
            </div>
            <div class="task-field">
                <label for="priority">Priorytet</label>
                <select class="task-input" id="priority" th:field="*{priority}" required>
                    <option value="1">Niski</option>
                    <option value="2">Średni</option>
                    <option value="3">Wysoki</option>
                </select>
            </div>
            <div class="task-field">
                <input  type="checkbox" class="form-check-input" id="completed" th:field="*{completed}">
                <label for="completed">Ukończony</label>
            </div>
            <button type="submit" style="font-size: 20px" class="add-button">Utwórz</button>
        </form>
    </div>
</div>
<script>
    document.getElementById('createdDate').valueAsDate = new Date();
</script>
<script src="/js/theme-switcher.js"></script>
</body>
</html>
