<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utwórz Zadanie</title>
    <link rel="stylesheet" type="text/css" href="/css/tasks_style.css">
</head>
<body>
<div class="sidebar">
    <nav>
        <a  th:href="@{/tasks/}"><img src="/png/logo-2-white.png" alt="Logo" style="height: 180px;"/></a>
        <ul>
            <li>
                <a th:href="@{/tasks/}">Zadania</a>
            </li>
            <li>
                <a  th:href="@{/users}">Użytkownicy</a>
            </li>
            <li>
                <a  th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <div class="task-panel">
        <h2>Utwórz Nowe Zadanie</h2>
    <form th:object="${task}" method="POST" th:action="@{/tasks/}">
        <div class="task-field">
            <label for="taskName">Nazwa</label>
            <input type="text" id="taskName" th:field="*{taskName}" placeholder="Enter Task Name" required>
        </div>
        <div class="task-field">
            <label for="taskDescription">Opis</label>
            <textarea id="taskDescription" th:field="*{taskDescription}" placeholder="Enter Task Description"></textarea>
        </div>
        <div class="task-field">
            <label for="dueDate">Data Zakończenia</label>
            <input type="date" id="dueDate" th:field="*{dueDate}">
        </div>
        <div class="task-field">
            <label for="createdDate">Data Ukończenia</label>
            <input type="date" id="createdDate" th:field="*{createdDate}" readonly>
        </div>
        <div class="task-field">
            <input type="checkbox" class="form-check-input" id="completed" th:field="*{completed}">
            <label for="completed">Ukończony</label>
        </div>
        <button type="submit" style="font-size: 20px" class="add-button">Utwórz</button>
    </form>
    </div>

</div>
<script>
    document.getElementById('createdDate').valueAsDate = new Date();
</script>
</body>
</html>
