<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Edycja Zadania</title>
    <link rel="stylesheet" type="text/css" href="/css/tasks_style.css">
</head>
<body>
<div class="sidebar">
    <nav>
        <a th:href="@{/tasks/}"><img src="/png/logo-2-white.png" alt="Logo" style="height: 180px;" /></a>
        <ul>
            <li>
                <a th:href="@{/tasks/}">Zadania</a>
            </li>
            <li>
                <a th:href="@{/users}">Użytkownicy</a>
            </li>
            <li>
                <a th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <div class="task-panel">
        <h2>Edit Task</h2>
        <form th:object="${task}" method="post" th:action="@{/tasks/update/{id}(id=${task.id})}">
            <div class="task-field">
                <label for="taskName">Nazwa</label>
                <input type="text" id="taskName" th:field="*{taskName}" placeholder="Nazwa" required>
            </div>
            <div class="task-field">
                <label for="taskDescription">Opis</label>
                <textarea id="taskDescription" th:field="*{taskDescription}" placeholder="Opis"></textarea>
            </div>
            <div class="task-field">
                <label for="dueDate">Data zakończenia</label>
                <input type="date" id="dueDate" th:field="*{dueDate}">
            </div>
            <div class="task-field">
                <label for="createdDate">Data Utworzenia</label>
                <input type="date" id="createdDate" th:value="${#dates.format(task.createdDate, 'yyyy-MM-dd')}" readonly>
            </div>
            <div class="task-field">
                <label for="priority">Priorytet</label>
                <select id="priority" th:field="*{priority}" required>
                    <option value="1" th:selected="${task.priority == 1}">1</option>
                    <option value="2" th:selected="${task.priority == 2}">2</option>
                    <option value="3" th:selected="${task.priority == 3}">3</option>
                </select>
            </div>
            <div class="task-field">
                <input type="checkbox" class="form-check-input" id="completed" th:field="*{completed}">
                <label for="completed">Ukończono</label>
            </div>
            <button type="submit" style="font-size: 20px" class="add-button">Zatwierdź</button>
        </form>
    </div>
</div>
</body>
</html>
