<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tasks_style_light.css}" id="theme-stylesheet">
</head>
<body>
<div class="sidebar">
    <nav>
        <a th:href="@{/tasks/}"><img src="/png/logo-2-white.png" alt="Logo" style="height: 180px;"/></a>
        <ul>
            <li>
                <a th:href="@{/tasks/}">Zadania</a>
            </li>
            <!-- Warunek, który ukrywa zakładkę "Użytkownicy" dla użytkowników z rolą "User" -->
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/users}">Użytkownicy</a>
            </li>
            <li>
                <a th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <div class="theme-button"><button id="theme-button" class="add-button" onclick="toggleCSS()">Ciemny motyw</button>
    </div>
    <div class="listname">
        Lista zadań
        <a class="add-button" th:href="@{/tasks/create}">+Dodaj</a>
    </div>
    <form th:action="@{/tasks/}" method="get">
        <label for="filterType">Wybierz rodzaj filtra:</label>
        <select class="task-input" name="filterType" id="filterType">
            <option value="all">Brak filtra</option>
            <option value="completed">Zakończone</option>
            <option value="priority">Priorytet</option>
            <option value="taskName">Nazwa zadania</option>
            <option value="taskDescription">Opis zadania</option>
        </select>

        <div id="completedFilter" class="filter-group" style="display: none;">
            <label for="completed">Zakończone:</label>
            <select class="task-input" name="completed" id="completed">
                <option value="">Wszystkie</option>
                <option value="true">Tak</option>
                <option value="false">Nie</option>
            </select>
        </div>

        <div id="priorityFilter" class="filter-group" style="display: none;">
            <label for="priority">Priorytet:</label>
            <select class="task-input" name="priority" id="priority">
                <option value="">Wszystkie</option>
                <option value="1">Niski</option>
                <option value="2">Średni</option>
                <option value="3">Wysoki</option>
            </select>
        </div>

        <div id="taskNameFilter" class="filter-group" style="display: none;">
            <label for="taskName">Filtruj po nazwie zadania:</label>
            <input class="task-input" type="text" name="taskName" id="taskName">
        </div>

        <div id="taskDescriptionFilter" class="filter-group" style="display: none;">
            <label for="taskDescription">Filtruj po opisie zadania:</label>
            <input class="task-input" type="text" name="taskDescription" id="taskDescription">
        </div>

        <input class="add-button" type="submit" value="Filtruj">
    </form>

    <table class="task-list">
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Utworzono</th>
            <th>Realizacja</th>
            <th>Zakończono</th>
            <th>Priorytet</th>
            <th>Akcje</th>
        </tr>
        <tbody>
        <th:block th:each="task : ${tasks}">
            <th:block th:if="${task.user.email == #authentication.principal.username}">
                <tr>
                    <td th:text="${task.taskName}">Task Name</td>
                    <td th:text="${task.taskDescription}">Task Description</td>
                    <td class="no-wrap" th:text="${#dates.format(task.createdDate, 'yyyy-MM-dd')}">Created Date</td>
                    <td class="no-wrap" th:text="${#dates.format(task.dueDate, 'yyyy-MM-dd')}">Due Date</td>
                    <td class="no-wrap" th:text="${task.completed ? 'Tak' : 'Nie'}">Completed Status</td>
                    <td th:text="${task.priority == 1 ? 'Niski' : (task.priority == 2 ? 'Średni' : 'Wysoki')}">Priorytet</td>
                    <td>
                        <a class="edit-button" th:href="@{/tasks/edit/{id}(id=${task.id})}">Edytuj</a>
                        <a class="del-button" th:href="@{/tasks/delete/{id}(id=${task.id})}">Usuń</a>
                    </td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5TTITNghTm1B5eqdU/Vc8seWYRQDf7eL5G7"
        crossorigin="anonymous"></script>
<script>
    var filterType = document.getElementById("filterType");
    var filterGroups = document.querySelectorAll(".filter-group");

    filterType.addEventListener("change", function () {
        var selectedFilter = filterType.value;
        filterGroups.forEach(function (group) {
            group.style.display = "none";
        });

        if (selectedFilter !== "all") {
            document.getElementById(selectedFilter + "Filter").style.display = "block";
        }
    });
</script>
<script src="/js/theme-switcher.js"></script>
</body>
</html>
