<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login_style_light.css}" rel="stylesheet"  id="theme-stylesheet">
    <title>TaskManager Login</title>
</head>
<body>
<div class="theme-button"><button id="theme-button" class="login-button" onclick="toggleCSS()">Ciemny motyw</button>
</div>

<div class="login-container">
    <div  class="error-message" th:if="${param.error}">
        <div>Nieprawidłowy email lub hasło</div>
    </div>
    <div class="logout" th:if="${param.logout}">
        <div>Zostałeś wylogowany</div>
    </div>
    <form method="post" role="form" th:action="@{/login}">
        <img src="/png/logo-2.png" alt="TaskManager Logo" class="logo" id="logo">
        <label for="username"></label><input
            type="text"
            id="username"
            name="username"
            class="login-input"
            placeholder="Adres E-mail"
            required
    />
        <label for="password"></label><input
            type="password"
            id="password"
            name="password"
            class="login-input"
            placeholder="Hasło"
            required
    />

        <button type="submit" class="login-button">Login</button>
        <div class="bottom-links">
            <a th:href="@{/register}">Rejestracja</a>
            <a href="#" id="forgotPasswordLink">Zapomniałeś hasła?</a>
        </div>
    </form>
</div>


<form id="resetPasswordForm" method="get" th:action="@{/reset_password}" style="display: none;">
</form>


<script>
    document.getElementById("forgotPasswordLink").addEventListener("click", function() {
        // Przekieruj użytkownika na stronę reset_password.html po kliknięciu
        document.getElementById("resetPasswordForm").submit();
    });
</script>
<script src="/js/theme-switcher.js"></script>
</body>
</html>
