<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login_style.css}" rel="stylesheet">

    <title>TaskManager Login</title>

</head>
<body>
<div class="login-container">
    <div  class="error-message" th:if="${param.error}">
        <div>Nieprawidłowy email lub hasło</div>
    </div>
    <div class="logout" th:if="${param.logout}">
        <div>Zostałeś wylogowany</div>
    </div>
    <form
            method="post"
            role="form"
            th:action="@{/login}"
    >
        <img src="/png/logo-2.png" alt="TaskManager Logo" class="logo">
        <label for="username"></label><input
                type="text"
                id="username"
                name="username"
                class="login-input"
                placeholder="Adres E-mail"
                required
        />
        <label for="password"></label><input
                type="password"
                id="password"
                name="password"
                class="login-input"
                placeholder="Hasło"
                required
        />

        <button type="submit" class="login-button">Login</button>
        <div class="bottom-links">
            <a th:href="@{/register}">Rejestracja</a>
            <a href="#">Zapomniałeś hasła?</a>
        </div>
    </form>
</div>
</body>
</html>


