<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login_style_light.css}" rel="stylesheet" id="theme-stylesheet">
    <title>TaskManager Odzyskaj Hasło</title>
</head>
<body>
<div class="theme-button"><button id="theme-button" class="login-button" onclick="toggleCSS()">Ciemny motyw</button></div>
<div class="login-container">
    <div class="error-message" th:if="${param.error}">
        <div>Nieprawidłowy email</div>
    </div>
    <form method="post" role="form" th:action="@{/reset_password}">
        <img src="/png/logo-2.png" alt="TaskManager Logo" class="logo" id="logo">
        <label for="email"></label>
        <input type="email" id="email" name="email" class="login-input" placeholder="Adres E-mail" required />
        <button type="submit" class="login-button">Odzyskaj Hasło</button>
        <div class="bottom-links">
            <a th:href="@{/login}">Powrót do Logowania</a>
        </div>
    </form>
</div>
<script src="/js/theme-switcher.js"></script>
</body>
</html>
