<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Admin Panel - Task Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/tasks_style.css">
</head>
<body>
<div class="sidebar">
    <nav>
        <a  th:href="@{/tasks/}"><img src="/png/logo-2-white.png" alt="Logo" style="height: 180px;"/></a>
        <ul>
            <li>
                <a th:href="@{/tasks/}">Zadania</a>
            </li>
            <li>
                <a  th:href="@{/users}">Użytkownicy</a>
            </li>
            <li>
                <a  th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </nav>
</div>
<div class="content">
    <div class="listname">
        <h2>Lista zarejestrowanych użytkowników</h2>
    </div>
    <table class="task-list">
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Email</th>
        </tr>
        <tbody>
        <tr th:each = "user : ${users}">
            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>
            <td th:text = "${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>